*.exe
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store

cl/cltrace
cl/obj/*
traces/*
scripts/*.dot
scripts/*/*.dot
scripts/*/*/*.dot

scripts/*.pdf
scripts/*/*.pdf
scripts/*/*/*.pdf

bin/*
bin

src/src

pkg

src/github.com
src/go.mongodb.org
src/golang.org


*.exe
*/*.exe

*/*.mod
*/*/*.mod
*/*/*/*.mod
*/*/*/*/*.mod

*/*/*/*.out
*/*/*.out
*/*.out
*.out

scripts/*.pyc
scripts/*/*.pyc
